<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero"/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button">
    Add hero
  </button>
</div>

<ul class="heroes">
    {{#heroesArr}}
  <li>
    <a data-channel="ROUTE" data-page-id="detail" data-id="{{id}}">
      <span class="badge">{{id}}</span> {{name}}
    </a>
    <button type="button" class="delete" title="delete hero">x</button>
  </li>
    {{/heroesArr}}
</ul>
